[submodule "lib/bknr-datastore"]
	path = lib/bknr-datastore
	url = git@github.com:hanshuebner/bknr-datastore.git
[submodule "lib/bknr-web"]
	path = lib/bknr-web
	url = git@github.com:hanshuebner/bknr-web.git
[submodule "lib/xhtmlgen"]
	path = lib/xhtmlgen
	url = git@github.com:hanshuebner/xhtmlgen
