#slider {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 502px;
    height: 10px;
}

#sliderContainer {
    margin: 10px 25px 20px 10px;
    position: relative;
    height: 50px;
}

#legend10 {
    position: absolute;
    top: 10px;
    left: 38px;
}

#legend100 {
    position: absolute;
    top: 10px;
    left: 128px;
}

#legend1000 {
    position: absolute;
    top: 10px;
    left: 350px;
}

#anschrift {
    display: none;
    padding: 1em 3em 1em 3em;
}

#choose_printed_cert {
    display: none;
}

.printed_cert_block {
    min-height: 2.5em;
}

