/* container for printlayout - will not be printed */

#noprint
{
	padding-top: 30px;
	padding-left: 10px;
	z-index: 30;
	max-width: 450px;
	margin : 10px 15px 10px 15px;	
	visibility: visible;
	display: none;
	font : normal normal 0.8em Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #333333;
	font-weight : normal;
	text-decoration : none;
	border-left: 1px solid #CCCCCC;
	background-color: red;

}

#footer_print {
	z-index: 24;
	margin-top: 0px;
	width: 500px;
	height: 40px;
	font : normal normal 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : gray;
	visibility: visible;
	display: block;
	border-top: 1px solid #CCCCCC;
	background-color: red;
}

#footer_print div
{	float: right;
	height: 17px;
	z-index: 15;
	font : normal normal 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	visibility: visible;
	display: block;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 0px;
	}