h1 { font-size: 200% }
h2 { font-size: 160% }
h3 { font-size: 120% }

ul#media-list li {
    position: relative;
    height: 44px;
    margin-left: 42px;
}

ul#media-list li img {
    position: absolute;
    left: -42px;
    top: 2px;
}

ul#media-list .active {
    background-color: #0f0;
}

#poi-selector {
    width: 300px;
    font-size: 180%;
}

.map img {
     vertical-align: bottom; /* align images without space for character descenders */
}

.map {
    position: relative;
}

.map .icon, .map .contract {
    position: absolute;
}

#google-map {
    width: 400px;
    height: 300px;
}