/* Basics */

body {
	/*margin-top: 0px;
margin-left: 0px;*/
margin: 0px;
	font-size: 11px;/*100.1%;*/
	font-family:Georgia, serif;
	overflow:auto;
	overflow: -moz-scrollbars-vertical;
}

.clearer{
clear:both;
}

/* Container im oberen Bereich = header */
#header {
	/*position: relative;*/
	/*z-index: 2;*/
	margin-top: 25px;
	/*margin-left: 50px;*/
	width: auto;
	height: 92px;
	visibility: visible;
	display: block;
	padding : 0px 0px 0px 0px;
	/*background-repeat : no-repeat;*/
	background-color: #ffffff;
}


/* Container im mittleren Bereich  = content */
.description {
	display: block;
	height: 25px;
	width: 714px;
	line-height: 25px;
	font-size: 14px;
	font-weight:bold;
	margin: 0px 2px 3px 2px;
	padding-left:20px;
	background-color: #ffffff;
}
.description_header{
font-size: 14px;
font-weight:bold;
font-style:italic;
height:30px;
line-height:20px;
padding-top: 10px;
background-color: #ffffff;
}
.description_subheader{
font-size: 14px;
font-weight:bold;
height:22px;
line-height:20px;
background-color: #ffffff;
}
.description_content {
			background-color: none;
			/*color:#7d7d7d;*/
			margin: 0px 20px 4px 20px;
			padding: 0px 20px 20px 20px;
			max-height: 200px;
			overflow-y: auto;
			background-color: #ffffff;
			font-size: 12px;
}

.accordion_toggle {
	display: block;
	height: 25px;
	width: 720px;
	line-height: 25px;
	font-size: 14px;
	font-weight:bold;
	cursor: pointer;
	background-repeat:repeat-y;
	margin: 0px 4px 4px 20px;
	background-image: url(accordion.gif);
	padding-left:20px;
}
		
.accordion_toggle_active {
	background-image: url(accordion_active.gif);	
}
.accordion_content {
			background-color: #ffffff;
			margin: 0px 20px 4px 20px;
			overflow: hidden;
			height:0px;
			
}
.accordion_header{

font-size: 14px;
font-weight:bold;
height:28px;
line-height:20px;
padding-top: 10px;

}

.accordion_bild{
float:left;
height:352px;
width: 234px;
margin: 2px 2px 0 0;
}


	
.accordion_text{
float:left;

width:560px;
padding:5px 0 0 15px;
color:#7d7d7d;
line-height:14px;
overflow: hidden;
}

.img-title{
clear:both;
 font-size:14px;
 font-weight:bold;
 line-height:30px;
}
.img-subtitle{
clear:both;
/*line-height:20px;*/
font-style:italic;
margin-bottom:12px;

}
.scrollpane {
	/*display: block;*/
	margin-left: auto;
	margin-right: auto;
	/*height:200px;*/
}

.airal{
margin-left:160px;
margin-right:auto;
}

.movie{
margin-left:140px;
margin-right:auto;
}
.image_gallery{
margin-left:20px;
}
#content {
	margin-top: 0px;
	margin-left: auto; 
	margin-right:auto; 
	width: 780px;
	height: auto;
	visibility: visible;

}
#content_main {


	float:left;
	margin-top: 0px;
	width: 780px;
	height: 1%;
	visibility: visible;
	background-color:#D5D5CD;

	}

#content_left{
	float:left;
	width: 20px;
	margin: 0px 2px 0px 0px;
	visibility: visible;
	background-color:#F9F9F9;
	min-height:600px;
}
	

#content_center {
height: auto;

float: left;

}


#textbox_content
{
	position: relative;
	z-index: 39;
	line-height: 16px;
	height: 447px;
	width: auto;
	margin-top: 30px;
	margin-left: 17px;
	margin-right: 17px;
	margin-bottom: 2px;
	visibility: visible;
	display: block;
	max-height : 450px;
	font : normal normal 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
}



/* Container im unteren Bereich - ältere Version */
#footer {
	position: relative;
	z-index: 14;
	margin-top: 0px;
	margin-left: 50px;
	width: 780px;
	height: 20px;
	visibility: visible;
	display: block;
	border : 1px solid #CCCCCC;
}



#menue_footer {
	position: relative;
	z-index: 15;
	margin-top: 5px;
	margin-left: 0px;
	width: 186px;
	height: 20px;
	padding-top: 2px;
	padding-left: 7px;
	font : normal normal 0.9em Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #666666;
	visibility: visible;
	display: block;
	background-color: white;
	border-bottom : 1px solid #CCCCCC;
	border-top : 1px solid #CCCCCC;
	bottom : 0px;
}
.menue{
float:left;
padding:1px 4px 0px 4px;
}

a.menuelink {
        /*font : bold normal 1.0em Verdana, Geneva, Arial, Helvetica, sans-serif;*/
        color : Gray;
        font-weight : bold;
        text-decoration : none;
}

a.menuelink:hover {
        color : #990000;
}
a.menuelink:active {
        color : #990000;
}
#menue_header_main{	
float:left;
	margin-top: 74px;
	margin-left: 184px;
	width: 450px;
	height: 15px;
	visibility: visible;
	color : Gray;
/*	display: block;*/
}
#menue_banner
{
width:780px;
height:92px;
	background-image:url(header_ganzneu.gif);
}